.my-hero {
    background: url('/../images/colosseo.avif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
}

#map {
    width: 100%;
    height: 400px;
}

.card {
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #68bafd;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.cu-h {
    max-height: 250px;
    overflow: hidden;
}

/* Utility */
/* .debug {
    border: 1px solid red;
}

.debug-2 {
    border: 2px solid green;
} */